body {
    background-color: #ffffff;
}
#expected-wrapper {
    /*display: block;*/
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
}
#nav-change-wrapper {
    background-color: #006389;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
}
#result {
    /*display: block;*/
    background-color: red;
    width: auto;
    margin: 10px auto;
    width: 80px;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    height: 30px;
    font-size: 16px;
    visibility: hidden;
    margin-left: 30px;
}
li.st-li {
    list-style: none;
    display: table;
    width: 100%;
}
li.st-li span {
    width: 50%;
    display: table-cell;
    padding: 5px;
}
li.st-li.first {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
#loading {
    width: 30px;
    /*display: block;*/
    margin: 10px auto;
    padding-left: 10px;
}